<section>
      <img src="~/Images/imgs/home-bg.jpg" class="img-fluid"/>
   </section>
   <section>
      <div class="container">
         <div class="row">
            <div class="col-12">
               <center>
                  <h2>Our Features</h2>
                  <p><b>Our 3 Primary Features -</b></p>
               </center>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <center>
                  <img width="150px" src="~/Images/imgs/digital-inventory.png"/>
                  <h4>Digital Book Inventory</h4>
                  <p class="text-justify">Enables Librarian to upload & share unlimited e-content and offers access to students in order to drive hassle-free teacher-student collaboration.</p>
               </center>
            </div>
            <div class="col-md-4">
               <center>
                  <img width="150px" src="~/Images/imgs/digital-data.png"/>
                  <h4>Cataloguing</h4>
                  <p class="text-justify">The cataloguing module of the library management system enables the librarian to create books, journals, and other resources entries and create a database of the same for easy book search.</p>
               </center>
            </div>
            <div class="col-md-4">
               <center>
                  <img width="150px" src="~/Images/imgs/book-online.png"/>
                  <h4>User Friendly</h4>
                  <p class="text-justify">The simple, intuitive, and easy-to-navigate LMS platform has a mobile based application that enables librarian & students to operate it with ease on mobile devices at any time.</p>
               </center>
            </div>
         </div>
      </div>
   </section>
   <section>
      <img src="~/Images/imgs/in-homepage-banner.jpg" class="img-fluid"/>
   </section>
   <section>
      <div class="container">
         <div class="row">
            <div class="col-12">
               <center>
                  <h2>Our Process</h2>
                  <p><b>We have a Simple 3 Step Process</b></p>
               </center>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <center>
                  <img width="150px" src="~/Images/imgs/sign-up.png" />
                  <h4>Sign Up</h4>
                  <p class="text-justify">Sign-Up to  access all learning materials. 

                  </center>
            </div>
            <div class="col-md-4">
               <center>
                  <img width="150px" src="~/Images/imgs/search-online.png"/>
                  <h4>Search Books</h4>
                  <p class="text-justify">By using the media type, author, publisher and title students can search for books, articles media and publications.</p>
                  </center>
            </div>
            <div class="col-md-4">
               <center>
                  <img width="150px" src="~/Images/imgs/books.png"/>
                  <h4>Read and Return </h4>
                  <p class="text-justify">Reading out books.<br/>
                      Return book before due date and save yourself from paying  penality.</p> 
                  </center>
            </div>
         </div>
      </div>
   </section>
