.navbar a:hover {
    background-color: #531f00;
    color: white;
}

.footerlinks{
    color:#ffffff;
    text-decoration:none!important;
}


.footerlinks:hover {
    color: #ffd8e0;
}

#footer1 {
    background: #762b00;
}

#footer2 {
    background: #531f00;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 20%;
    margin:5px;
}



    .row:after {
        content: "";
        display: table;
        clear: both;
    }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
}



.RequestToLent {
    border: 2px solid #531f00;
    border-radius: 12px;
    
    text-align: center;
    color: #531f00;
}
    .RequestToLent:hover {
        color: white;
        background-color: #531f00;
    }


