@{
	Layout="_userLayout";
}
<style>
	html{
		margin: 50px;
    padding: 50px;
   
    
	}
	a,h1,h3{
		color: #531f00;
		text-decoration: none;
	}
</style>
<center>
    <h3>Your Book has been requested <br/>
    View your <a asp-controller="LendRequest" asp-action="LendRequestById" asp-route-Userid=1>requests.</a><br />
	<a asp-controller="Books" asp-action="AllBooksList">Or browse more books.</a></h3></h3>
</center>
