@{
	Layout="_userLayout";
}
@model LibraryManagmentSystem.Models.LendRequest
 <div class="container">
  <div class="row justify-content-md-center"> 
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
                  <div class="row">
                     <div class="col">
                        <center>
                           <h4> Book Returned...!!! </h4>
                           @if(Model.FineAmount > 0){
                               <p>
                                    You Need to Pay &#8377; @Model.FineAmount 
                               </p>
                                }
                                
                        </center>
                     </div>
                  </div>   
        </div>
    </div>
</div>
</div>
</div>
